// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window.Bar {
    background: transparent;
    color: $fg-color;
    font-weight: bold;

    >centerbox {
        // background: $bg-color;
        background-color: transparent;
        backdrop-filter: blur(10px);
        
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        // margin: 8px;
    }

    button {
        border-radius: 8px;
        margin: 2px;
    }
}
